<div id="content">
  <div class="white-bg text-center">
    <div class="container mtx">
      <a href="/">
        MUSA App
      </a>
      <div class="row dark-text">
        <div class="col-md-8 col-md-offset-2 mtx mbx">
          <h4 class="mtl">You're already on the waitlist!</h4>
        </div>
      </div>
    </div>
</div>
